body {
    font-family: Arial, sans-serif;
    background-color: green;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 10px;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 320px;
    text-align: center;
    gap: 10px;
}

.container h2 {
    margin-bottom: 20px;
}

.form-group {
    margin: 10px;
    gap: 10px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="time"] {
    width: calc(100% - 12px);
    padding: 6px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.form-group input[type="submit"]:hover {
    background-color: #45a049;
}

.player-list {
    text-align: left;
    margin-bottom: 10px;
}

.player-list-item {
    margin-bottom: 5px;
}

.home {
    text-decoration: none;
    width: 100%;
    height: 30px;
	color:rgba(21,124,13,1);
	padding-left: 10px;
	font-family:Arial Black,Gadget,sans-serif;
	background-color:rgba(233,233,233,1);
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
}

button {
    background-color: green;
    border-radius: 10px;
    height: 50px;
    font-weight: bold;
    color: white;

    margin: 10px;

    &:hover{
        background-color: white;
        cursor: pointer;
        color: green;
    }
}

#input-agendar {
    background-color: green;
}