*{
    padding: 0;
    margin: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.barra-topo{
    position: sticky;
    box-shadow: -0px 5px 15px black; 
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;    
}

.logo{
    display: flex ;
    align-items: center;
}

.logo> h1 {
   color: green; 
}

.list-telas{
      display: flex;
      align-items: center;
}

.list-telas ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
 
.link-telas{
    margin: 0px 150px;
    font-size: 25px;
    text-decoration: none; 
}

.txt-link{
    color: green;
}

.link-telas > a{
    text-decoration: none; 
    cursor: pointer;
}

.link-telas > a:hover{
    background-color: rgb(186, 249, 186);
    padding: 10px;
    border-radius: 8px;
}

.btn-menu > select{
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-image: url("btnMenu.png");
    background-color: rgba(255, 255, 255, 0);
    background-position: 0px 0px;
    background-repeat: round;
    background-attachment: scroll;
    background-origin: padding-box;
    color: rgba(255, 255, 255, 1);
    border: none; 
}

.btn-menu:hover{
    background-color: rgb(164, 247, 164);
    padding: 10px;
    border-radius: 8px;
}

.segunda-barra{
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 630px;
    background-image: url(fundoMarcaai.jpeg)
}




