body {
    margin: 0;
    padding: 0;
    width: 100%;
}


.background-superior {
    width: 100%;
    height: 800px;
    overflow: hidden; /* Ajuda a controlar o tamanho do video para que não ocupe a tela toda sem necessidade  */
    display: flex;
    justify-content: center;
}

.background-superior video {
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 800px;
}

.background-superior .content{
    display: block;
    width: 100%;
    height: 800px;
    z-index: 1;
    margin: 0 auto;
    text-align: center;
    position: fixed;
    color: white;
    background-color: rgba(0, 0, 0, 0.493);
}

div.rolagemHide{
    display: none;
}

.menu-superior {
    position: fixed;
    width: 100%;
    max-height: 100px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
    border: none;
    font-size: 25px;
    list-style: none;
    gap: 10px;
    justify-content: center;
}

.menu-superior a{
    text-decoration: none;
    color: white;
    width: 150px;
}

#quero-jogar {
    border: none;
    font-size: 20px;
    width: 200px;
    border-radius: 10px;
    background-color: black;
    color: green;
    background-color: white;  
    

    &:hover{
        background-color: rgba(71, 70, 70, 0.192);
        cursor: pointer;
        color: white;       
    }
}

.slogan {
    height: 80%;
    display:flex;
	flex-direction:column;
	justify-content:center;
    gap: 50px;
}

.slogan h2{
    display:flex;
	justify-content:center;   
}

.slogan h1{
    display:flex;
	position:static;
	left:50px;
	justify-content:flex-start;
	flex-direction:row;
    max-width: 900px;
    min-width: 300px;
}



.div-descricao-app {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
    gap: 30px;
}

.div-descricao-app p{
    text-align: center;
    font-size: 18px;
}

.divHero {
    display:flex;
	justify-content:center;
	align-items:center;
    width: 100%;
    gap: 30px;
}

.divHero p, img {
    width: 50%;
}

#features {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
    gap: 30px;
}



