body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(68, 67, 67);
}


.background-superior {
    width: 100%;
    height: 800px;
    overflow: hidden; /* Ajuda a controlar o tamanho do video para que não ocupe a tela toda sem necessidade  */
    display: flex;
    justify-content: center;
}

.background-superior video {
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    min-height: 300px;
    max-height: 800px;
}

.background-superior .content{
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin: 0 auto;
    text-align: center;
    position: fixed;
    color: white;
    background-color: rgba(0, 0, 0, 0.493);
}

div.rolagemHide{
    display: none;
}

div.rolagemShow{
    display: none;
}

.menu-superior {
    position: fixed;
    width: 100%;
    max-height: 100px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
    border: none;
    font-size: 25px;
    list-style: none;
    gap: 10px;
    justify-content: center;
}

.menu-superior a{
    text-decoration: none;
    color: white;
    width: 150px;
}

button {
    border: none;
    font-size: 20px;
    width: 200px;
    border-radius: 10px;
    color: green;
    background-color: white;
}

.slogan {
    margin-top: 100px;
    text-align: center;
}

.slogan h1 {
    margin-left: 10px;
    text-align: left;
    width: 600px;
}

.slogan button {
    margin-top: 150px;
    background-color: rgb(255, 255, 255);
    height: 50px;
    font-weight: bold;

    &:hover{
        background-color: rgba(71, 70, 70, 0.192);
        cursor: pointer;
        color: white;
    }
}

.div-descricao-app {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.div-descricao-app p{
    text-align: center;
    font-size: 18px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.493);
}



